[submodule "python/ultimate_cheat_sheet"]
	path = python/ultimate_cheat_sheet
	url = https://github.com/arvidjohansen/python-adv-web-apps
[submodule "python/flask-examples/example_sso"]
	path = python/flask-examples/example_sso
	url = https://github.com/workos/python-flask-sso-example
[submodule "python/flask-examples/awesome-htmx"]
	path = python/flask-examples/awesome-htmx
	url = https://github.com/rajasegar/awesome-htmx
[submodule "games/ursina_engine/Minecraft-in-Python"]
	path = games/ursina_engine/Minecraft-in-Python
	url = https://github.com/clear-code-projects/Minecraft-in-Python
[submodule "google/slides-creator/gslides"]
	path = google/slides-creator/gslides
	url = https://github.com/michael-gracie/gslides
[submodule "ffmpeg-cheat-sheet"]
	path = ffmpeg-cheat-sheet
	url = https://github.com/arvidjohansen/ffmpeg-cheat-sheet
[submodule "flask-template-students"]
	path = flask-template-students
	url = https://github.com/arvidjohansen/flask-template-students
