[submodule "python/ultimate_cheat_sheet"]
	path = python/ultimate_cheat_sheet
	url = https://github.com/arvidjohansen/python-adv-web-apps
[submodule "python/flask-examples/example_sso"]
	path = python/flask-examples/example_sso
	url = https://github.com/workos/python-flask-sso-example
[submodule "python/flask-examples/awesome-htmx"]
	path = python/flask-examples/awesome-htmx
	url = https://github.com/rajasegar/awesome-htmx
[submodule "games/ursina_engine/Minecraft-in-Python"]
	path = games/ursina_engine/Minecraft-in-Python
	url = https://github.com/clear-code-projects/Minecraft-in-Python
[submodule "google/slides-creator/gslides"]
	path = google/slides-creator/gslides
	url = https://github.com/michael-gracie/gslides
[submodule "ffmpeg-cheat-sheet"]
	path = ffmpeg-cheat-sheet
	url = https://github.com/arvidjohansen/ffmpeg-cheat-sheet
[submodule "flask-template-students"]
	path = flask-template-students
	url = https://github.com/arvidjohansen/flask-template-students
[submodule "games/ursina_engine/Zippy_Codes"]
	path = games/ursina_engine/Zippy_Codes
	url = https://github.com/ZippyCodeYT/Zippy_Codes
[submodule "linux/wsl-debian"]
	path = linux/wsl-debian
	url = https://github.com/rodcomucci/wsl-debian
[submodule "linux/wsl-debian-settings"]
	path = linux/wsl-debian-settings
	url = https://github.com/and1er/wsl-debian-settings
[submodule "windows-stuff/WinTools"]
	path = windows-stuff/WinTools
	url = https://github.com/0xeb/WinTools
[submodule "python/best-of-python"]
	path = python/best-of-python
	url = https://github.com/ml-tooling/best-of-python
[submodule "javascript/javascript-for-cats"]
	path = javascript/javascript-for-cats
	url = https://github.com/max-mapper/javascript-for-cats
[submodule "flask-stuff/Flask-Server-template"]
	path = flask-stuff/Flask-Server-template
	url = https://github.com/sonhm3029/Flask-Server-template
[submodule "javascript/art-of-node"]
	path = javascript/art-of-node
	url = https://github.com/max-mapper/art-of-node
[submodule "python/flask-examples/flasky"]
	path = python/flask-examples/flasky
	url = https://github.com/miguelgrinberg/flasky
[submodule "python/flask-examples/Flask-SocketIO"]
	path = python/flask-examples/Flask-SocketIO
	url = https://github.com/miguelgrinberg/Flask-SocketIO
[submodule "python/flask-examples/awesome-flask"]
	path = python/flask-examples/awesome-flask
	url = https://github.com/mjhea0/awesome-flask
[submodule "security/pentestmonkey-cheatsheets"]
	path = security/pentestmonkey-cheatsheets
	url = https://github.com/acole76/pentestmonkey-cheatsheets
[submodule "security/cheatsheet-ssh-A4"]
	path = security/cheatsheet-ssh-A4
	url = https://github.com/DennyZhang/cheatsheet-ssh-A4
[submodule "security/ssh-cheatsheet"]
	path = security/ssh-cheatsheet
	url = https://github.com/alvitawa/ssh-cheatsheet
[submodule "security/mimikatz"]
	path = security/mimikatz
	url = https://github.com/gentilkiwi/mimikatz
[submodule "security/1f784339df82c57a43bf"]
	path = security/1f784339df82c57a43bf
	url = https://gist.github.com/e7d/1f784339df82c57a43bf
[submodule "hosting/cheap-vps"]
	path = hosting/cheap-vps
	url = https://github.com/BEST-FREE-VPS/cheap-vps
[submodule "hosting/Cloud-Free-Tier-Comparison"]
	path = hosting/Cloud-Free-Tier-Comparison
	url = https://github.com/cloudcommunity/Cloud-Free-Tier-Comparison
[submodule "hosting/d4ec55ccbf935173a5890cfcdfd7880e"]
	path = hosting/d4ec55ccbf935173a5890cfcdfd7880e
	url = https://gist.github.com/mikeroru/d4ec55ccbf935173a5890cfcdfd7880e
[submodule "linux/How-To-Secure-A-Linux-Server"]
	path = linux/How-To-Secure-A-Linux-Server
	url = git@github.com:imthenachoman/How-To-Secure-A-Linux-Server.git
[submodule "linux/linux-cheat-sheet"]
	path = linux/linux-cheat-sheet
	url = git@github.com:arvidjohansen/linux-cheat-sheet.git
[submodule "quests/leetcode-company-wise-problems-2022"]
	path = quests/leetcode-company-wise-problems-2022
	url = https://github.com/hxu296/leetcode-company-wise-problems-2022
[submodule "ai/list_of_recommender_systems"]
	path = ai/list_of_recommender_systems
	url = https://github.com/grahamjenson/list_of_recommender_systems
[submodule "security/the-book-of-secret-knowledge"]
	path = security/the-book-of-secret-knowledge
	url = https://github.com/trimstray/the-book-of-secret-knowledge
[submodule "ai/awesome-text-to-video"]
	path = ai/awesome-text-to-video
	url = https://github.com/jianzhnie/awesome-text-to-video
[submodule "ai/PromptClip"]
	path = ai/PromptClip
	url = https://github.com/video-db/PromptClip
[submodule "Cyberonix"]
	path = Cyberonix
	url = https://github.com/TeamDefronix/Cyberonix
[submodule "ai/awesome-transformer"]
	path = ai/awesome-transformer
	url = https://github.com/ictnlp/awesome-transformer
[submodule "linux/awesome-linuxaudio"]
	path = linux/awesome-linuxaudio
	url = https://github.com/nodiscc/awesome-linuxaudio
[submodule "linux/awesome-selfhosted"]
	path = linux/awesome-selfhosted
	url = https://github.com/Kickball/awesome-selfhosted
[submodule "linux/awesome-shell"]
	path = linux/awesome-shell
	url = https://github.com/alebcay/awesome-shell
[submodule "linux/awesome-sysadmin"]
	path = linux/awesome-sysadmin
	url = https://github.com/n1trux/awesome-sysadmin
[submodule "security/DefenseAgainstTheDarkArts"]
	path = security/DefenseAgainstTheDarkArts
	url = https://github.com/tuftsdev/DefenseAgainstTheDarkArts
