{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Live Color Update</h5>
        <style>
            .d1{ background-color: red; }
            .d2{ background-color: blue; }
            .d3{ background-color: green }
        </style>
        <div class="card-text">
            <div class="d1" data-spacing="30cm">hei</div>
            <div class="d2"  data-spacing="50cm">hå </div>
            <div class="d3" data-spacing="70cm">hadsel</div>
        </div>
    </div>
</div>
{% endblock %}