<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Create Secret Note{% endblock %}
{% block subtitle %}Create Secret Note {% endblock %}

{% block progress_number %}33%{% endblock %}
{% block progress %}33{% endblock %}

{% block content %}
    
    <form method="POST">
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="password">Password (optional)</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Create Note</button>
    </form>
{% endblock %}
